.location-text {
  font-size: 1.5em;
  margin: 0.5rem;
}

.temperature {
  font-size: 70px;
}

.toggle-unit-button {
  background-color: transparent;
  color: gray;
  border-style: none;
  font-size: 0.5em;
}

.toggle-unit-button:hover {
  color: lightgray;
  cursor: pointer;
}
