body {
  margin: 0px;
  height: 100vh;
  background-color: #202020;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.weather-app {
  background-color: rgb(43, 43, 43);
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
}
